body{
    /* background: url("https://source.unsplash.com/random/1920x1080") no-repeat center center fixed;
    background-size: cover; */
    font-family: 'Raleway', sans-serif;
    /* font-family: 'Lobster', cursive; */
}

.exo{
    font-family: 'Exo 2', sans-serif;

}